:host {
  display: block;
}

.filter-form {
  padding: 24px 0;
}

.flex-container {
  display: flex;
  gap: 12px;

  & > * {
    flex: 1;
  }
}

.filter-actions {
  justify-content: end;
  gap: 8px;
}
