$primary-color: #005cbb;
$linkColor: #41c2e1;

$header-height: 64px;
$footer-height: 64px;

// TABLE VARIABLES
$columnSelectionHeight: 48px;

$tableBackgroundDefaultColor: #e6e6e6;
$subTableBackgroundDefaultColor: #f6f6f6;
$tableEvenRowBgColor: #eeeeee;
$tableOddRowBgColor: #ffffff;
$tableHoverRowBgColor: #ffbf69;
