$baseFont: "Archivo";
$baseFontSize: 14px;
$baseFontColor: #023047;

$linkColor: #41c2e1;
$errorColor: #ba4141;
$warnColor: #f89406;
$successColor: #51a351;
$infoColor: #ffffff;
$infoColorText: #000000;
$successColorText: #ffffff;
$warnColorText: #ffffff;
$errorColorText: #ffffff;
$buttonColorText: #333333;

// TABLE VARIABLES
$columnSelectionHeight: 48px;

$tableBackgroundDefaultColor: #e6e6e6;
$subTableBackgroundDefaultColor: #f6f6f6;
$tableEvenRowBgColor: #eeeeee;
$tableOddRowBgColor: #ffffff;
$tableHoverRowBgColor: #ffbf69;
